template(name='facet_doc_edit')
    with facet_doc
        if is_admin
            +textarea_edit key='body'
        else 
            h3 
                +textarea_view key='body'
                        
                        
template(name='add_resident')
    .ui.stackable.padded.grid
        .centered.row
            .eight.wide.column
                h1.ui.center.aligned.header
                    +i name='add user male'
                    | resident
                .ui.big.form
                    .field
                        input#first_name(type='text' placeholder='first name' autocomplete='off')
                    .field
                        input#last_name(type='text' placeholder='last name' autocomplete='off')
                    //- .field
                    //-     |Username
                    //-     input#username(type='text')
                if permission
                    .ui.fluid.green.big.button.create_resident
                        |Create Resident
        
                    |check in
